.c-spinner {

  &.-map {
    background-color: transparent;
    top: 42px;
    right: 105px;
    left: auto;
    bottom: auto;
  }

  @include only-mobile {
    &.-map {
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
